<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mula"
        tools:targetApi="31">
        <activity
            android:name=".HomePageActivity"
            android:exported="true"
            android:label="@string/title_activity_home_page"
            android:theme="@style/Theme.Mula">

        </activity>
        <activity
            android:name=".LottieAimationActivity"
            android:exported="true"
            android:label="@string/title_activity_lottie_aimation"
            android:theme="@style/Theme.Mula"></activity>
        <activity
            android:name=".SplashscreenActivity"
            android:exported="true"
            android:label="Mula"
            android:theme="@style/Theme.Mula">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PracticalActivity"
            android:exported="true"
            android:label="@string/title_activity_practical"
            android:theme="@style/Theme.Mula"></activity>
        <activity
            android:name=".IntentActivity"
            android:exported="true"
            android:label="@string/title_activity_intent"
            android:theme="@style/Theme.Mula" />
        <activity
            android:name=".FormActivity"
            android:exported="true"
            android:label="@string/title_activity_form"
            android:theme="@style/Theme.Mula" />
        <activity
            android:name=".ScrollActivity"
            android:exported="true"
            android:label="@string/title_activity_form"
            android:theme="@style/Theme.Mula" />
        <activity
            android:name=".imageActivity"
            android:exported="true"
            android:label="@string/title_activity_image"
            android:theme="@style/Theme.Mula" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Mula"></activity>
    </application>

</manifest>